#testimonial {
  .testimonial-head {
    text-align: center;
  }
  .testimonial-main {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .slider-area {
    display: flex;
    width: 400px;
    animation: testiminiol 10s infinite;
  }
  .slider-item {
    min-width: 400px;
    max-width: 400px;
  }

  @keyframes testiminiol {
    0% {
      margin-left: 0px;
    }
    25% {
      margin-left: 0px;
    }
    50% {
      margin-left: -800px;
    }
    75% {
      margin-left: -1600px;
    }
    100% {
      margin-left: -2400px;
    }
  }
}
