* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import "navbar";
@import "slider";
@import "aboutUs";
@import "services";
@import "galery";
@import "team";
@import "faq";
@import "testimonial";
@import "contact";
@import "footer";
